header,h1{
 background-color: darkslategray;
margin:-8px -8px 0 -8px ;
padding: 8px;
}

h1{
 color: gold;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 padding-left: 0 0 0 20px;
}
header{
 border-bottom:solid gold 2px ;
 border-top: solid gold 2px;
}
form{
 background-color: yellowgreen;
 margin: 0 -8px 0 -8px;
 padding: 15px 0 30px 15px;
border-bottom: solid 2px black;
}
p{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 1.2em;
 font-weight: bold;
 margin-bottom: 4px;
}
main{
 margin-bottom: -20px;
}
label{
 background-color: rgb(125, 172, 32);
 font-family: Georgia,
 'Times New Roman',
 Times,
 serif;
padding-right: 10px;
}

section{
 margin-top: 15px;
}
button{
 display: block;
 margin-top: 20px;
 background-color: rgb(173, 255, 8);
 font-size: 20px;
border: solid 2px;
border-radius: 10px;
padding: 4px 30px;
font-family: fantasy;
letter-spacing: 2px;
}
button:hover{
  background-color: rgb(129, 185, 16);
}

div {
 color: rgb(153, 13, 13);
 font-weight: 1000;
 font-style: italic;
 font-size: 18px;
 font-family: 'Courier New', Courier, monospace;
}
#age:hover{
   background-color: rgb(129, 185, 16);
   border: solid yellow 1.5px;
   font-weight: bold;
}
#age:focus{
   background-color: rgb(129, 185, 16);
   border: solid yellow 1.5px;
   font-weight: bold;
}


select{
 font-size: 15px;
 border-radius: 4px;
 border: solid 1.5px black;
 font-weight: bold;
 padding-right: 5px;
}

main>input:focus{
background-color: darkolivegreen;
border: 1px solid white;
color: yellow;
font-weight: bold;
}

main>input:hover{
 font-weight: bold;
}
section>input:focus{
 background-color: darkolivegreen;
 border: 1px solid white;
 color: yellow;
}

main>input{
 width: 5cm;
}